@import "Variable";

.about-cn {
  background-color: $background;

  // Common css for both about section and skill section
  .about-s,
  .skill-s {
    padding-top: 80px ;
    padding-bottom: 30px;
    color: $text-color;
    position: relative;
    z-index: 1;
    margin: 0px 50px;
  }

  // About me section other css
  .about-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 3.5em;
      letter-spacing: 0.066em;
    }

    p {
      line-height: 1.4;
      font-size: 1.313em;
      font-weight: 300;
      letter-spacing: 0.05em;
      text-align: center;
      font-family: $paragraph-font;
      padding: 6px 16px;
      max-width: 800px;

    }

    .avatar {
      width: 250px;
      border: 3px solid $avatar-border-color;
      border-radius: 100%;
    }

    .links-on-about{
      display: flex;
      padding: 20px 50px 10px 50px;
      gap: 15px;
      background-color: $dark-background;
      border-radius: 10px;
      box-shadow: 2px 5px #fffefc26;
      transition: all 3ms cubic-bezier(.3,.04,.42,.59);
      a{
        color: $heading-color;
        font-size: 2em;
        transition: all 3ms cubic-bezier(.3,.04,.42,.59);;
      }
      .mail-link{
         display: flex;
         color: $heading-color;
         align-items: baseline;
         p{
          margin: 0;
         }
      }

      a:hover{
        transform: scale(1.1)
        
      }
      
    .resume-btn {
      height: fit-content;
      border: 2px solid $heading-color;
      font-size: 1em;
      letter-spacing: 0.048em;
      padding: 5px 10px;
      text-decoration: none;
      color: $heading-color;
      transition: all 3ms cubic-bezier(.3,.04,.42,.59);
    }
    }

  }

  .links-on-about:hover{
    box-shadow: none;
    transform: scale(0.99);
  }

  // Skill section other css
  .skill-s {
    text-align: center;
    .skill-card-cn {
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 50px;
      padding-bottom: 50px;
      flex-wrap: wrap;
    }
  }
}


@media only screen and (max-width: 640px) {
 
.about-cn{
  .about-s{
    h3{
      font-size: 3.1em;
    }
    p{
     font-size: 1em;
    }
  }
}
}