@import  'Variable';


.about-cn {
  background-color: $background;



  // Common css for both about section and skill section
  .about-s ,.skill-s{
    padding-top: 50px;
    padding-left: $left-space;
    color: $text-color;
    h1 {
      margin: 0;
      color: $heading-color;
      font-size: 4em;
      font-weight: 400;
    }
  }


  // About me section other css
  .about-s{
    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 3.5em;
      padding-left: $left-space;
      letter-spacing: 0.066em;
    }

    p {
      padding-left: $left-space;
      font-size: 22px;
      line-height: 1.4;
      letter-spacing: -0.016em;
      font-weight: 400;
      text-align: justify;
    }
  }



  // Skill section other css
  .skill-s{
    

    .skill-card-cn{
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 50px;
      margin-right: 50px;
    }

  }
}


