@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Goldman', cursive;
}

html{
  scroll-behavior: smooth;;
}
html, body {
  margin: 0;
  padding: 0;
}

main{
  height: 200vh;
}