@import  'Variable';


*{
  box-sizing: border-box;
  font-family: $heading-font
}

html{
  scroll-behavior: smooth;;
}
html, body {
  margin: 0;
  padding: 0;
}

main{
  height: 200vh;
}


.footer{
  background-color: $background;
  color: $text-color;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  p{
    margin: 0;
    font-size: 19px;
    letter-spacing: 0.05em;
  }

  span{
    margin-right: 5px;
    align-self: baseline;
  }
}