@import "Variable";

// Skill card css
.skill-card {
  border-radius: 10px;
  width: 300px;
  height: 380px;
  padding: 20px;
  text-align: center;
  border: 2px solid $avatar-border-color;
  z-index: 1;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
  .skill-icon {
    font-size: 3.3em;
    color: $icon-color;
  }
  p {
    margin-top: 5px;
    font-size: 2.125em;
    letter-spacing: 0.084em;
    color: $heading-color;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    letter-spacing: 0.075em;
    line-height: 1.6;
    font-size: 1.3em;
    padding: 0;
  }
}

// Projects card css
.project-card {
  border-radius: 10px;
  height: 460px;
  background-color: $dark-background;
  backdrop-filter: drop-shadow(2px 4px 6px black);
  .img-cn {
    position: relative;
    height: 200px;
    padding-top: 20px;
  }

  img {
    cursor: pointer;
    height: 100%;
    width: 90%;
    object-fit: cover;
    border-radius: inherit;
  }

  h3{
    font-weight: 400;
    color: $heading-color;
    font-size: 1.563em;
  }
  p{
    font-family: $paragraph-font;
    font-weight: 300;
    line-height: 1.4em;
    text-align: justify;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  
  a{
    height: fit-content;
    border: 2px solid $heading-color;
    font-size: 1em;
    letter-spacing: 0.088em;
    padding: 5px 10px;
    margin: 30px 10px;
    text-decoration: none;
    color: $heading-color;
    transition: all 3ms cubic-bezier(.3,.04,.42,.59);
   
  }

  a:hover::before{
    content: "git";
  }

  
  
}


@media only screen and (max-width: 640px) {
 
.skill-card{
  width: 220px;
  height: 300px;

  p{
   font-size: 1.7em;
  }

  ul{
    font-size: 1.1em;
    line-height: 1.5;
  }
}


.project-card{
  .img-cn{
    width: 250px;
    height: 250px;
  }
}
}