@import 'Variable' ;

.heading{
    @include heading-style ;
}

.h1-span{
    font-size: 20px;
    letter-spacing: 0.023em;
}

@media only screen and (max-width: 640px) {

    .heading{
        font-size: 3.5em;
    }
}