@import "Variable";

#Home {
  background-color: $hero-background;
  color: $heading-color;
  background: url(../assets/Background2.png);
  background-size: cover;
  background-attachment: fixed;
  border: none;
  text-align: center;
}

.home-cn {
  padding-top: 120px;
  padding-bottom: 50px;

  p {
    margin: 0 30px;
    font-size: 6rem;
  }
}

.links-on-home {
  position: fixed;
  top: 150px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 3ms;

  a {
    color: $heading-color;
    font-size: 2.5em;
  }

  .resume-btn {
    border: 1.2px solid $heading-color;
    font-size: 1em;
    letter-spacing: 0.048em;
    padding: 5px 10px;
    text-decoration: none;
    transform: rotate(90deg);
    position: absolute;
    right: -28px;
    top: 140px;
  }
}

// Small screen and down
@media only screen and (max-width: 640px) {
 
  .home-cn {
    p {
      font-size: 5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-cn {
    p {
      font-size: 4rem;
    }
  }
}
