@import "Variable";

#Home {
  background-color: $hero-background;
  color: $heading-color;
  background: url(../assets/Background2.png);
  background-size: cover;
  background-attachment: fixed;
  border: none;
  text-align: center;
}

.home-cn {
  padding-top: 120px;
  padding-bottom: 50px;

  p {
    margin: 0 30px;
    font-size: 6rem;
  }
}


// Small screen and down
@media only screen and (max-width: 640px) {
 
  .home-cn {
    p {
      font-size: 5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-cn {
    p {
      font-size: 4rem;
    }
  }
}
