$hero-background :#032D3C;
$nav-background :#021F29BD ;
$text-color: #fff;
$heading-color: #94fc13;
$left-space: 50px;
$background : #252a34 ;
$card-background: #22262f;
$icon-color :rgba(148, 252, 19, 0.44);